name: PR Merge Build

on:
  push:
    branches:
      - "main"

jobs:
  build:

    runs-on: ubuntu-latest

    permissions:
      security-events: write
      actions: read
      contents: read
      checks: write
      pull-requests: write

    steps:
      - name: Checkout the code
        uses: actions/checkout@v6
        with:
          fetch-depth: '0'

      - name: Set up JDK 21 Temurin
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-encryption-key: ${{ secrets.GRADLE_CACHE_ENCRYPTION_KEY }}

###### BEGIN - Build the code #####################################################################
      - name: Run gradle clean
        run: ./gradlew clean

      - name: Build the code
        id: build
        run: ./gradlew --parallel assembleDebug
###### END - Build the code #######################################################################


###### BEGIN - Archive binaries ###################################################################
      - name: Archive build binaries
        if: ( !cancelled() && (steps.build.outcome == 'success') )
        uses: actions/upload-artifact@v6
        with:
          name: APKs
          path: app/build/outputs/apk/debug/*.apk
          retention-days: 15
###### END - Archive binaries #####################################################################
